.ajoute{

  
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    .ulliste ul{
        list-style: none;
        text-align: center;
       margin-left: auto;
       margin-right: auto;
       width: 100%;
        display:inline;
    }
    

.logo{
    margin-left: auto;
    margin-right: auto;
    .anticon{
        display:block;
        font-size: 150px;
    }
    svg:hover{
        color: #f6d000;
    }
   
}
.ant-image-img{
    max-width: 600px;
    max-height: 500px;
     }

.form-row{
    //display: contents;
}
.btn{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.anticon{
    font-size: x-large;
}

.btn:hover{
    color: #fff;
    background-color: #f6d000;
    border-color: #ffb914;
}
.btn {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}
.affiche{
margin: 50px;
}
.form-group{
margin-right: 50px;
}
@media  screen and  (max-width: 590px) {
   
        margin-left: 10px;
   


}

}