.pasword {

.pinput{
    height: 50px;
    border: 2px solid gold;
    border-radius: 15px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.toastanimation{
    width: 300px;
   
    position: relative;
    float:right;
    animation-name: example;
    animation-duration: 3s;
    animation-direction: reverse; 
    
}
.btn:hover{
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}
.btn {
    color: #fff;
    
    background-color: #f6d000;
    border-color: #ffb914;
    display: block;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

}