.detail{

 .dinput{
    height: 50px;
    border: 2px solid gold;
    border-radius: 15px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

    .nav-item{
         color: black;
    }
    .tab-content{
        height:500px;
    }



.dbuton:hover{
    color: #fff;
    
    background-color: #f00;
    border-color: #f00;
}
.dbuton {
    color: #fff;
    background-color: #f6d000;
    border-color: #ffb914;
    display: block;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

 }