.glisscompte{
    text-align: center;
    margin: auto;
    padding: auto;
    .ant-transfer-list-header ,.ant-pagination-prev,.ant-pagination-next,.ant-transfer-list-search-action{
    .anticon-down{
        font-size: 20px !important;
    }}
    .ant-transfer-customize-list .ant-transfer-list{
        width: 1px !important
    }
    
}